@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
@import url('./reset.css');


body {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    padding: 1rem 2rem;
}