.suggestions {
    position: absolute;
    top: 100%;
    width: 100%;
}

.suggestion {
    padding: .5rem;
    z-index: 2;
    color: #1F3161;
    font-weight: bold;
    background-color: white;
    border: 1px solid aliceblue;
}

.suggestion:hover {
    background-color: aliceblue;
    cursor: default;
}