
.word {
    font-size: 24px;
    padding: .5rem;
    line-height: 1.5;
    border-top: 1px solid rgba(31, 49, 97, .5);
    background-color: aliceblue;
    box-sizing: border-box;
    color: #1F3161;
}
@media screen and (min-width: 700px) {
    .word {
        width: auto;
        margin: 0 auto;
    }
}
.word:first-child {
    border-top: none;
}
@media screen and (min-width: 700px) {
    .word:first-child {
        border-top: 1px solid rgba(31, 49, 97, .5);
    }
}