
.words {
    margin-top: 2rem;
}
@media screen and (min-width: 700px) {
    .words {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
        column-gap: .5rem;
        margin: 2rem auto;
        width: 60%;
    }    
}
